@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
  font-family: 'Source Sans Pro', sans-serif;  
}

body{
    background-color: #F8F8F6;
    margin: 0;
}

header{
    width: 1024px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}

nav{
    width: 1024px;
    height: 50px;
    margin: 0 auto;
}

main{
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}

nav ul{
    list-style: none;
    text-align: center;
}

nav li{
    display: inline;
    text-align: center;
    margin-left: 20px;
}

section{
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
}

#video1{
    width: 60%;
}

Footer{
    width: 100%;
    height: 70px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #C3C4C8;
    padding-top: 25px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a{
    text-decoration: none;
    color: #575965;
}

nav a:hover{
    color: #C3C4C8;
}

input[type=button], input[type=submit]{
    background-color: #3D1144;
    width: 120px;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 30px;
}

input[type=text], input[type=password], input[type=email]{
    background-color:#FADFDE;
    border-style: none;
}

input[type=text]:focus{
    background-color: #1FD8D8;
}

#img_taylor {
    float:left;
    margin-right: 20px;
}


